<div class="row">
    <div class="col-md-1">
      <a href="#" class="editbtn2"><img src="../assets/img/editar.png" width="15px"></a>
    </div>
    <div class="col-md-10">
        <div class="card" style="width: 100%;">
            <div class="card-header">
              <h2>Eucación</h2>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <h5>Alura / Oracle</h5>
                <h6>Oracle Next Education</h6>
                <p>Desarrollo Web Fullstack</p>
                <p>07/2022-01/2023</p>
              </li>
              <li class="list-group-item">
                <h5>Ministerio de desarrollo productivo / INTI / CESSI</h5>
                <h6>Argentina Programa</h6>
                <p>Desarrollo Web Fullstack</p>
                <p>03/2022-01/2023</p>
              </li>
              <li class="list-group-item">
                <h5>Instituto Parroquial Nuestra Señora del Carmen</h5>
                <h6>Educación Secundaria</h6>
                <p>Orientación en Comunicación</p>
                <p>03/2013-12/2018</p>
              </li>
              <li class="list-group-item">
                <h5>Instituto Parroquial Nuestra Señora del Carmen</h5>
                <h6>Educación Primaria</h6>
                <!-- <p>Venta al publico, manejo de caja, recepción de distribuidores</p> -->
                <p>03/2006-12/2012</p>
              </li>
              
            </ul>
        </div>
    </div>
</div>