<div class="row">
    <div class="col-md-1">
        <a href="#" class="editbtn2"><img src="../assets/img/editar.png" width="15px"></a>
    </div>
    <div class="col-md-10">
        <div class="card">
            <div class="card-header">
              <h2>Proyectos</h2>
            </div>
            <div class="card-body">
                <div class="card-group">
                    <div class="card">
                        <img src="../../../assets/img/portfolio.png" class="card-img-top" alt="Square Sword">
                            <div class="card-body">
                                <h5 class="card-title">Portfolio: Leonel Martinez</h5>
                                <p class="card-text">El portfolio que estás leyendo</p>
                                <a href="#" class="btn btn-primary disabled" style="background-color: #018786;">Abrir</a>
                            </div>
                    </div>
                    <div class="card">
                        <img src="../../../assets/img/square.png" class="card-img-top" alt="Square Sword">
                            <div class="card-body">
                                <h5 class="card-title">Square Sword</h5>
                                <p class="card-text">Un sencillo juego de aventuras en 2d</p>
                                <a href="#" class="btn btn-primary" style="background-color: #018786;">Abrir</a>
                            </div>
                    </div>
                    <div class="card">
                        <img src="../../../assets/img/faze.png" class="card-img-top" alt="Square Sword">
                            <div class="card-body">
                                <h5 class="card-title">Faze</h5>
                                <p class="card-text">Un juego de laberinto</p>
                                <a href="#" class="btn btn-primary" style="background-color: #018786;">Abrir</a>
                            </div>
                    </div>
                    <div class="card">
                        <img src="../../../assets/img/faz.png"  class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">...</h5>
                                <p class="card-text">...</p>
                                <!-- <a href="#" class="btn btn-primary" style="background-color: #018786;">Abrir</a> -->
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>