<div class="row">
    <div class="col-md-1">
      <a href="#" class="editbtn2"><img src="../assets/img/editar.png" width="15px"></a>
    </div>
    <div class="col-md-10">
        <div class="card" style="width: 100%;">
            <div class="card-header">
              <h2>Experiencia</h2>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <h5>Cortinas Córdoba</h5>
                <h6>Área de Embalaje</h6>
                <p>Preparación de pedidos para su posterior despacho.</p>
                <p>05/2021-08/2021</p>
            </li>
              <li class="list-group-item">
                <h5>Despensa y Verdulería "GINO"</h5>
                <h6>Atención al Cliente</h6>
                <p>Venta al publico, manejo de caja, recepción de distribuidores</p>
                <p>07/2018-10/2020</p>
            </li>
              <li class="list-group-item">
                <h5>CONTROLSAT S.A</h5>
                <h6>Servicio Técnico</h6>
                <p>Instalación/mantenimiento de equipos de monitoreo satelital y alarmas de auto o casa</p>
                <p>11/2017-11/2018</p>
            </li>
            </ul>
        </div>
    </div>
</div>