<div class="row">
    <div class="col-md-1">
      <a href="#" class="editbtn2"><img src="../assets/img/editar.png" width="15px"></a>
    </div>
    <div class="col-md-10">
        <div class="card">
            <div class="card-header">
              <h2>Hard Skills</h2>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
<div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
      <div class="card h-100" id="html">
        <div class="porcentaje"><div class="skill"></div></div>
        <!-- <img src="../assets/img/graficohtml.png" class="card-img-top" alt="..."> -->
      </div>
    </div>
    <div class="col">
      <div class="card h-100" id="css">
        <img src="../assets/img/graficocss.png" class="card-img-top" alt="...">
        <!-- <div class="card-body"> -->
          <!-- <h5 class="card-title">CSS</h5> -->
          <!-- <p class="card-text">This is a short card.</p> -->
        <!-- </div> -->
      </div>
    </div>
    <div class="col">
      <div class="card h-100" id="javascript">
        <img src="../assets/img/graficojavascript.png" class="card-img-top" alt="...">
        <div class="card-body">
          <!-- <h5 class="card-title">Javascript</h5> -->
          <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p> -->
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../assets/img/graficoangular.png" class="card-img-top" alt="...">
        <div class="card-body">
          <!-- <h5 class="card-title">Angular</h5> -->
          <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../assets/img/graficots.png" class="card-img-top" alt="...">
        <div class="card-body">
          <!-- <h5 class="card-title">Angular</h5> -->
          <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../assets/img/graficojava.png" class="card-img-top" alt="...">
        <div class="card-body">
          <!-- <h5 class="card-title">Angular</h5> -->
          <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../assets/img/graficomysql.png" class="card-img-top" alt="...">
        <div class="card-body">
          <!-- <h5 class="card-title">Angular</h5> -->
          <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../assets/img/graficops.png" class="card-img-top" alt="...">
        <div class="card-body">
          <!-- <h5 class="card-title">Angular</h5> -->
          <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
        </div>
      </div>
    </div>
  </div>
    </li>
    </ul>
    </div>
    </div>
</div>