<div class="row">
    <div class="col-md-1">
        <a href="#" class="editbtn2"><img src="../assets/img/editar.png" width="15px"></a>
    </div>
    <div class="col-md-10">
        <div class="card" id="sobremi">
            <div class="card-header">
                <h1>Sobre mi</h1>
            </div>
            <p class="card-text" style="padding: 25px">
                Hola y bienvenido a mi Portfolio! Mi nombre es Leonel y soy estudiante de desarrollo de software, especializado en el área de desarrollo web. El stack con el que trabajo esta conformado por las tecnologías Angular (Typescript), Java Spring Boot y bases de datos relacionales MySQL.
            </p>
        </div>
    </div>
</div>