<div class="row">
    <div class="col-md-1">
      <a href="#" class="editbtn"><img src="../assets/img/editar.png" width="15px" id="editban"></a>
    </div>
    <div class="col-md-10">
        <div id="banner" style="background-image: url('assets/img/PortadaEditada.png');">
            <div class="card mb-3" style="width: 540px;" id="info">
              <div class="row">
                <div class="col-md-4">
                  <app-foto-perfil></app-foto-perfil>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <app-input-nombre class="inline"></app-input-nombre>
                    <app-titulo></app-titulo>
                    <!-- <a href="#" class="editbtn"><img src="../assets/img/editar.png" width="15px"></a> -->
                    <app-ubicacion></app-ubicacion>
                    <!-- <a href="#" class="editbtn"><img src="../assets/img/editar.png" width="15px"></a> -->
                  </div>
                </div>
              </div>
          </div>
    </div>
</div>


<app-sobre-mi></app-sobre-mi>
<app-experiencia></app-experiencia>
<app-educacion></app-educacion>
<app-skills></app-skills>
<app-proyectos></app-proyectos>