<div class="row">
    <div class="col">
      <nav id="navbar" class="navbar fixed-top" style="background-color: #018786;;">
      <!-- <nav class="navbar fixed-top navbar-expand-md" style="background-color: #03DAC6;"> -->
      <!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark"> -->
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="/inicio" style="color: white;" (click)="cambiarLoginFalse()">
                <img id="logo" src="../assets/img/Sin título-1.png" alt="" width="30" height="24">
                Argentina Programa - #YoProgramo
            </a>
              
          <!-- <a class="navbar-brand" href="index.html">Argentina Programa - #YoProgramo</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button> -->
          <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent"> -->
            <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0"> -->
              <!-- <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index.html">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link">Sobre mi</a>
              </li> -->
              <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Contacto
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item">E-mail</a></li>
                  <li><a class="dropdown-item">Telefono</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item">Otro</a></li>
                </ul>
              </li> -->
              <!-- <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li> -->
            <!-- </ul> -->
            <!-- <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form> -->
          <!-- </div> -->
          <a *ngIf="!isLogged" class="navbar-brand" (click)="onClick()">
            <img id="logo" src="../assets/img/login.png" alt="" width="24" height="24">
        </a>
        <a *ngIf="isLogged" class="navbar-brand" (click)="logout()">
          logout
      </a>
        </div>
      </nav>
    </div>
  </div>
  <!-- <app-login #formlogin id="loginComp"></app-login> -->